@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  height: 91vh;
  background-image: url('../../../assets/octopusMobile.png');
  background-position: -384px -224px;
  display: flex;
  align-items: center;
  padding: 20px;

  .container {
    width: 100%;
    margin-bottom: 40px;
    min-height: 338px;
    max-height: fit-content;
    padding: 40px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    background-color: white;

    .change_btns {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: bottom;
      margin-bottom: 48px;

      .auth_type {
        font-weight: 800;
        font-size: 16px;
        color: $light;
        border-bottom: 1px solid transparent;
        padding-bottom: 8px;

        &:nth-of-type(1) {
          margin-right: 24px;
        }

        &:disabled {
          color: $black;
          border-bottom: 1px solid $black;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input,
      .input_err {
        width: 225px;
        height: 40px;
        padding: 12px 16px;
        border: 1px solid $light;
        color: $black;
        font-weight: 400;
        font-size: 14px;
        border-radius: 30px;
        margin-bottom: 8px;

        ::placeholder {
          color: $light;
        }

        &:focus {
          border: 1px solid $black;
        }

        &:disabled {
          pointer-events: none;
        }
      }

      .input_err {
        border: 1px solid $pink;
        &:focus {
          border: 1px solid $pink;
        }
      }

      .input_error {
        height: 20px;
        margin-bottom: 16px;
        font-size: 12px;
        color: $pink;

        &:nth-last-of-type(1) {
          margin-bottom: 24px;
        }
      }

      .submit {
        width: 100%;
        padding: 14px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $grey;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        transition: 0.2s;

        &:active {
          background: $black;
          transition: 0.2s;
        }
      }

      .back_btn {
        position: absolute;
        align-self: flex-start;
        left: 12%;
        margin-top: -78px;

        .back_icon {
          width: 24px;
          height: 24px;
          color: $pink;
        }
      }
    }
  }
}
