@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 38%;

  .text {
    margin-top: 64px;
    font-weight: 800;
    font-size: 20px;
  }
}
