@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 1000;
  padding: 16px 0 22px 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 36px 22px 40px;
    justify-content: space-between;

    .close_btn {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .close_icon {
        width: 32px;
        height: 32px;
        color: white;
      }
    }
  }

  .content {
    width: 100%;
    margin-bottom: 16px;

    .ul {
      width: 100%;

      .li {
        width: 100%;
        height: 64px;
        padding-left: 40px;
        display: flex;
        align-items: center;

        .link {
          font-weight: 200;
          font-size: 18px;
          color: white;
        }
      }
    }
  }
}
