@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100vw;
  height: 100%;
  background-color: $black;
  z-index: 1000;
  padding: 16px 0 22px 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 36px 22px 40px;
    justify-content: space-between;

    .close_btn {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .close_icon {
        width: 32px;
        height: 32px;
        color: white;
      }
    }
  }

  .content {
    width: 100%;
    margin-bottom: 16px;

    .ul {
      width: 100%;

      .li {
        width: 100%;
        height: 64px;
        padding-left: 40px;
        display: flex;
        align-items: center;

        .link {
          font-weight: 200;
          font-size: 18px;
          color: white;
        }
      }
    }
  }

  hr {
    width: calc(100% - 80px);
    background-color: #c4c4c4;
    height: 1px;
  }

  .set_lng {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 22px;

    .lng {
      font-weight: 600;
      font-size: 14px;
      color: white;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
    }

    .lng_item {
      @extend .lng;
      margin-left: 20px;
      width: fit-content;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
