@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 1000;
  padding: 16px 0 22px 0;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 00px !important;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
  }

  .top {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 32px 36px 22px 40px;
    justify-content: space-between;
    margin-bottom: 16px;

    .close_btn {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .close_icon {
        width: 32px;
        height: 32px;
        color: white;
      }
    }
  }

  .content {
    width: 100%;
    height: fit-content;
    margin-bottom: 16px;

    .profile {
      width: 85%;
      height: 64px;
      padding-left: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      color: white;

      .link_profile {
        display: flex;

        .icon {
          color: white;
          width: 28px;
          height: 28px;
        }
      }
    }

    hr {
      width: calc(100% - 80px);
      background-color: #c4c4c4;
      height: 1px;
      margin-left: 40px;
    }

    .ul {
      width: 100%;

      .li {
        width: 100%;
        height: 64px;
        padding-left: 40px;
        display: flex;
        align-items: center;

        .link {
          font-weight: 200;
          font-size: 18px;
          color: white;
        }
      }
    }

    .ul_lk {
      width: calc(100% - 20px);
      margin-bottom: 16px;
      margin-top: 20px;

      .li_lk {
        width: 100%;
        height: 64px;
        padding-left: 40px;
        display: flex;
        align-items: center;

        .icon {
          width: 32px;
          height: 32px;
          color: white;
          margin-right: 24px;
        }

        .link_lk {
          display: inline-block;
          width: calc(100% - 76px);
          font-weight: 400;
          font-size: 18px;
          color: white;
        }
      }
    }
    hr {
      width: calc(100% - 80px);
      background-color: #c4c4c4;
      height: 1px;
      margin-left: 40px;
    }
    .ul_more {
      @extend .ul_lk;
      margin-top: 32px;
      margin-bottom: 32px;

      .li_more {
        @extend .li_lk;

        .icon {
          @extend .icon;
        }

        .link_more {
          @extend .link_lk;
          font-weight: 200;
          font-size: 18px;
          color: white;
        }
      }
    }

    .contacts {
      display: flex;
      width: calc(100% - 40px);
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      padding-left: 40px;

      span {
        font-weight: 400;
        font-size: 14px;
        color: white;
      }
    }

    .payments {
      margin-top: 16px;
      padding: 0 48px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .payment {
        width: 52px;
        height: 14px;

        &:nth-last-of-type(2) {
          width: 52px;
          height: 35px;
        }
      }
    }
  }

  /*  .set_lng {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 24px;

    .lng {
      font-weight: 600;
      font-size: 14px;
      color: white;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
    }

    .lng_item {
      @extend .lng;
      margin-left: 20px;
      width: fit-content;
      font-weight: 400;
      text-decoration: none;
    }
  } */
}
