@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0 20px;

    .top {
      display: flex;
      width: 100%;
      margin-top: 32px;
      justify-content: center;
      align-items: top;

      .back {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;

        .back_icon {
          width: 32px;
          height: 32px;
          color: $pink;
        }
      }

      .title {
        font-weight: 600;
        font-size: 20px;
        width: 260px;
        text-align: center;
        margin-top: 4px;
      }
    }

    .content {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .contacts_block {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 46px;

        .contacts_title {
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 64px;
          text-align: center;
        }

        .contacts_input,
        .contacts_input_err {
          width: 225px;
          height: 40px;
          padding: 12px 16px;
          border: 1px solid $light;
          color: $black;
          font-weight: 400;
          font-size: 14px;
          border-radius: 10px;
          margin-bottom: 24px;

          ::placeholder {
            color: $light;
          }

          &:focus {
            border: 1px solid $black;
          }
        }

        .contacts_input_err {
          border: 1px solid $pink;
          &:focus {
            border: 1px solid $pink;
          }
        }

        .input_error {
          color: $pink;
          position: relative;
          font-weight: 400;
          font-size: 14px;
          bottom: 14px;
        }
      }

      .payment_block {
        width: 100%;
        margin-top: 40px;

        .payment_items {
          width: 100%;

          .payment_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 88px !important;
            box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
            border-radius: 10px;
            background-color: white;
            padding: 0 28px 0 24px;
            margin-bottom: 24px;

            &:nth-last-of-type(1) {
              margin-bottom: 0;
            }

            .payment_icon {
              width: 36px;
              height: 36px;
              color: $grey;
              margin-right: 16px;
            }

            .payment_type {
              font-weight: 400;
              font-size: 14px;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 70%;

              @media (max-width: 350px) {
                font-size: 12px;
              }
            }

            .payment_status {
              border: 2px solid $light;
              border-radius: 50px;
              background-color: white;
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;

              .payment_status_icon {
                width: 16px;
                height: 16px;
                color: white;
              }
            }
          }

          .payment_item_acitve {
            @extend .payment_item;

            .payment_icon {
              @extend .payment_icon;
            }

            .payment_type {
              @extend .payment_type;
              color: $black;
            }

            .payment_status {
              @extend .payment_status;
              background-color: $green;
              border: 1px solid $green;

              .payment_status_icon {
                width: 20px;
                height: 20px;
                color: white;
              }
            }
          }
        }

        .promo {
          width: 100%;
          height: fit-content;
          box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
          border-radius: 30px;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 25px 35px;
          justify-content: space-between;
          margin-top: 40px;

          h1 {
            font-weight: 400;
            font-size: 16px;
          }

          .promo_input {
            padding: 0 4px 8px 4px;
            border-bottom: 1px solid $light;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            margin-top: 16px;
            text-align: center;
          }

          .promo_input_true {
            @extend .promo_input;
            border-bottom: 1px solid $green;
          }

          .promo_input_false {
            @extend .promo_input;
            border-bottom: 1px solid $pink;
          }

          .promo_info_true,
          .promo_info_false {
            display: inline-block;
            margin-top: 4px;
            margin-bottom: 20px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
          }
          .promo_info_true {
            color: $green;
          }

          .promo_info_false {
            color: $pink;
          }

          .promo_btn {
            width: 200px;
            padding: 10px 10px;
            color: white;
            background: $grey;
            border-radius: 30px;
            font-size: 16px;

            &:active {
              background-color: $black;
            }
          }
        }

        .counts {
          align-self: flex-start;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 16px;
          margin-top: 40px;

          span {
            font-weight: 600;
            font-size: 16px;
          }
        }

        .total_price {
          align-self: flex-start;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 40px;
          span {
            font-weight: 600;
            font-size: 16px;
            margin-right: 24px;
            text-align: left;
          }
        }
      }
    }

    .address_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .map {
        width: 100%;
        height: 206px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 24px;

        .ymap {
          width: 100% !important;
          height: 206px !important;
          border-radius: 10px !important;
        }
      }

      .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-weight: 400;
          font-size: 16px;
          width: 238px;
          line-height: 25px;
          text-align: center;
          margin-bottom: 24px;
        }

        .address_input {
          @extend .input;
          position: relative;
          z-index: 400;

          &_active {
            @extend .address_input;
            border-radius: 10px 10px 0 0 !important;
            border: 1px solid $black !important;
          }
        }

        .dropdown {
          width: 225px !important;
          border-radius: 0 0 10px 10px;
          border: 1px solid $black;
          border-top: none;
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: white;
          margin-top: -4px;
          z-index: 200;

          .item {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 0 8px 0 16px;
            white-space: nowrap;
            text-overflow: ellipsis !important;
            height: 40px;

            &:nth-of-type(1) {
              padding-top: 12px;
            }

            &:nth-last-of-type(1) {
              padding-bottom: 12px;
            }

            .title_drop {
              width: 198px;
              font-weight: 400;
              font-size: 14px;
              overflow: hidden;
              white-space: nowrap !important;
              text-overflow: ellipsis !important;
            }
          }
        }
      }

      .index_input {
        @extend .input;
        margin-top: 24px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }

      .accept {
        @extend .next_btn;
        width: fit-content !important;
        padding: 0 24px;
        font-size: 14px !important;
        border-radius: 50px !important;
        align-self: center !important;
        margin-top: 32px;
        margin-bottom: 40px;
      }
    }
  }

  .delivery_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .delivery_items {
      width: 100%;

      .delivery_item,
      .delivery_item_acitve {
        width: 100%;
        padding: 16px 28px 18px 24px;
        background: #ffffff;
        box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }

        .delivery_info {
          display: flex;
          flex-direction: column;

          .delivery_type {
            width: 240px;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.02em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $grey;

            @media (max-width: 350px) {
              width: fit-content;
              font-size: 12px;
            }
          }

          .delivery_priceAndTime {
            font-weight: 600;
            font-size: 14px;
            margin-top: 16px;
            text-align: left;
            width: 240px;
            color: $grey;
            @media (max-width: 350px) {
              width: fit-content;
              font-size: 12px;
            }

            span {
              margin-left: 16px;
              color: $green;
              font-weight: 400;
            }
          }

          .delivery_price {
            font-weight: 600;
            font-size: 12px;
          }
        }

        .delivery_status {
          border: 2px solid $light;
          border-radius: 50px;
          background-color: white;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          .delivery_status_icon {
            width: 16px;
            height: 16px;
            color: white;
          }
        }
      }

      .delivery_item_acitve {
        .delivery_info {
          .delivery_type {
            color: $black;
          }

          .delivery_priceAndTime {
            color: $black;
          }
        }

        .delivery_status {
          background-color: $green;
          border: 1px solid $green;

          .delivery_status_icon {
            width: 20px;
            height: 20px;
            color: white;
          }
        }
      }
    }
  }

  .confirm_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .confirm_check {
      width: 152px;
      height: 152px;
      border-radius: 100px;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: center;

      .confirm_icon {
        width: 120px;
        height: 120px;
        color: white;
      }
    }

    .confirm_title {
      text-align: center;
      margin-top: 48px;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      margin-bottom: 40px;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
      }
    }
  }

  .next_btn {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: $grey;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;

    &:active {
      background-color: $black;
    }
  }

  .confirm_btn {
    @extend .next_btn;
  }
}

.input {
  width: 225px;
  height: 40px;
  padding: 12px 16px;
  border: 1px solid $light;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 24px;

  ::placeholder {
    color: $light;
  }

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.delivery_address {
  width: 100%;
  box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  padding: 16px 32px 16px 24px;
  margin-bottom: 40px;

  .delivery_col {
    display: flex;
    flex-direction: column;

    .delivery_title {
      font-weight: 600;
      font-size: 16px;
      width: 235px;
      letter-spacing: 0.02em;
    }

    .delivery_text {
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.02em;
      margin-top: 8px;
      margin-bottom: 12px;
      line-height: 22px;

      span {
        font-weight: 600;
        font-size: 14px;
      }

      b {
        font-weight: 600;
        font-size: 14px;
        color: $green;
        margin-left: 8px;
      }
    }
  }
}
