@import '../../../libs/normalize';
@import '../../../variables';

.wrapper {
  width: 100%;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .top {
    display: flex;
    width: 100%;
    margin-top: 32px;
    justify-content: center;
    align-items: top;

    .back {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 20px;
      margin-top: -2px;

      .back_icon {
        width: 32px;
        height: 32px;
        color: $pink;
      }
    }

    .title {
      font-weight: 800;
      font-size: 20px;
      width: 260px;
      text-align: center;
      margin-top: 4px;
    }
  }

  .content_notif {
    width: 100%;
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .item {
      width: 100%;
      height: 104px;
      display: flex;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
      border-radius: 10px;
      margin-bottom: 24px;
      padding: 24px 20px 24px 28px;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      .item_status,
      .item_status_active {
        border: 2px solid $light;
        border-radius: 50px;
        background-color: white;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .item_status_icon {
          width: 24px;
          height: 24px;
          color: white;
        }
      }

      .item_status_active {
        border: 2px solid $green;
        background-color: $green;
      }

      .item_info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 70%;

        .item_title {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 16px;
          text-overflow: ellipsis;
          overflow: hidden;

          span {
            margin-left: 8px;
          }
        }

        .item_description {
          font-weight: 400;
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .item_open {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .item_open_icon {
          color: $pink;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .title_archive {
    font-weight: 800;
    font-size: 20px;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;

    .archive_icon {
      margin-top: 4px;
      margin-left: 12px;
      width: 32px;
      height: 32px;
      color: $pink;
    }
  }

  .content_archive {
    @extend .content_notif;
  }
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;

  .empty_text {
    margin-top: 64px;
    font-weight: 800;
    font-size: 20px;
  }

  .logo * {
    stroke: $black;
  }
}
