@import '../../../libs/normalize';
@import '../../../variables';

.wrapper {
  width: 100%;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    width: 100%;
    margin-top: 32px;
    justify-content: center;
    align-items: top;

    .back {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 20px;
      margin-top: -2px;

      .back_icon {
        width: 32px;
        height: 32px;
        color: $pink;
      }
    }

    .title {
      font-weight: 800;
      font-size: 20px;
      width: 260px;
      text-align: center;
      margin-top: 4px;
    }
  }

  .content {
    width: 100%;
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .block_btns {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;

      .sales_btn {
        border-bottom: 2px solid transparent;
        color: $light;
        padding: 8px 12px;
        font-weight: 800;
        font-size: 16px;

        &:disabled {
          border-bottom: 2px solid $black;
          color: $black;
        }
      }

      .returns_btn {
        @extend .sales_btn;
        margin-left: 40px;
      }
    }

    .item {
      margin-bottom: 24px;
      width: 286px;
      height: 166px;
      margin-bottom: 65px;
      display: flex;
      flex-direction: column;
      padding: 16px 24px;
      background: #ffffff;
      box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
      border-radius: 15px;
      transition: 0.2s;

      &:active {
        background-color: #fbf9f9;
        transition: 0.2s;
      }

      .title {
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 32px;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;

        .time {
          font-weight: 400;
          font-size: 14px;
          color: $grey;
        }

        .status_icon_complete,
        .status_icon_canceled,
        .status_icon_process {
          width: 32px;
          height: 32px;
        }
        .status_icon_complete {
          color: white;
          background-color: $green;
          border-radius: 50px;
          width: 28px;
          height: 28px;
        }
        .status_icon_canceled {
          color: $pink;
        }
        .status_icon_process {
          color: $light;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .counts {
          font-weight: 400;
          font-size: 16px;
          color: $grey;
        }
        .price {
          font-weight: 800;
          font-size: 16px;
          text-align: right;
        }
      }
    }
  }
}
