@import '../../../libs/normalize';
@import '../../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;

  .title {
    font-weight: 800;
    font-size: 20px;
    margin-top: 48px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .swiper {
    width: 100vw;
    width: 100%;
    padding: 25px 0 44px 0;

    .item {
      width: 288px !important;
      height: 335px;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 16px;

      .item_icon {
        color: $grey;
        width: 52px;
        height: 52px;
        margin-bottom: 32px;
      }

      .item_title {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 40px;
      }

      .item_desc {
        color: $black;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        line-height: 22px;
      }
    }
  }

  .back_btn {
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 48px;

    .back_icon {
      width: 48px;
      height: 48px;
      color: $pink;
    }
  }
}
