@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  min-height: 880px;
  max-height: fit-content;
  padding: 80px 0;
  background-image: url('../../../assets/octopus.png');
  background-position: 0 -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 575px;
    min-height: 432px;
    max-height: fit-content;
    padding: 48px 120px 80px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    background-color: white;

    .change_btns {
      display: flex;
      justify-content: center;
      align-items: bottom;
      margin-bottom: 40px;

      .auth_type {
        font-weight: 800;
        font-size: 20px;
        color: $light;
        border-bottom: 1px solid transparent;
        padding-bottom: 8px;

        &:nth-of-type(1) {
          margin-right: 38px;
        }

        &:disabled {
          color: $black;
          border-bottom: 1px solid $black;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input,
      .input_err {
        width: 336px;
        padding: 18px 20px 18px 24px;
        border: 2px solid $light;
        color: $black;
        font-weight: 400;
        font-size: 16px;
        border-radius: 30px;
        margin-bottom: 16px;

        ::placeholder {
          color: $light;
        }

        &:focus,
        &:hover {
          transition: 0.2s;
          border: 2px solid $black;
        }

        &:disabled {
          pointer-events: none;
        }
      }

      .input_err {
        border: 2px solid $pink;
        &:hover,
        &:focus {
          transition: 0.2s;
          border: 2px solid $pink;
        }
      }

      .password {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        .input,
        .input_err {
          width: 336px;
          padding: 18px 48px 18px 24px;
          border: 2px solid $light;
          color: $black;
          font-weight: 400;
          font-size: 16px;
          border-radius: 30px;
          margin: 0;

          ::placeholder {
            color: $light;
          }

          &:focus,
          &:hover {
            transition: 0.2s;
            border: 2px solid $black;
          }

          &:disabled {
            pointer-events: none;
          }
        }

        .vissible {
          position: absolute;
          font-size: 24px;
          color: $grey;
          margin-right: 24px;
          cursor: pointer;
        }

        .input_err {
          border: 2px solid $pink;
          &:hover,
          &:focus {
            transition: 0.2s;
            border: 2px solid $pink;
          }
        }
      }

      .input_error {
        height: 24px;
        margin-bottom: 12px;
        font-size: 14px;
        color: $pink;

        &:nth-last-of-type(1) {
          margin-bottom: 24px;
        }
      }

      .submit {
        width: 335px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $grey;
        border-radius: 30px;
        font-weight: 800;
        font-size: 16px;
        color: white;
        transition: 0.2s;

        &:hover {
          background: $black;
          transition: 0.2s;
        }
      }

      hr {
        width: 335px;
        background-color: #c4c4c4;
        color: #c4c4c4;
        border: 1px solid #c4c4c4;
        margin: 50px 0 20px 0;
      }

      .or {
        font-weight: 400;
        font-size: 14px;
        color: $light;
        margin-bottom: 16px;
      }

      .social {
        margin-bottom: 24px;
        width: 335px;
        height: 62px;
        display: flex;
        align-items: center;
        padding-left: 72px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 14px;
        color: white;
        transition: 0.2s;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }

        &:hover {
          transition: 0.2s;
        }

        &_mail {
          @extend .social;
          background-color: #005ff9;

          &:hover {
            background-color: #0055e0;
          }

          .mail_icon {
            margin-right: 16px;
            width: 24px;
            height: 24px;
            color: #ff9e00;
          }
        }

        &_yandex {
          @extend .social;
          border: 1px solid $light;
          color: $black;

          &:hover {
            background-color: #e0e0e0;
            border: 1px solid #e0e0e0;
          }

          .yandex_icon {
            margin-right: 16px;
            width: 24px;
            height: 24px;
            color: #fc3f1d;
          }
        }

        &_vk {
          @extend .social;
          background-color: #0077ff;

          &:hover {
            background-color: #0062d2;
          }

          .vk_icon {
            margin-right: 16px;
            width: 24px;
            height: 24px;
            color: white;
          }
        }
      }

      .back_btn {
        position: absolute;
        align-self: flex-start;
        margin-left: -74px;
        margin-top: -82px;

        .back_icon {
          width: 40px;
          height: 40px;
          color: $pink;
        }
      }
    }
  }
}
