@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0 96px 0;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1810px) {
      margin-top: 20px;
    }

    .top_left {
      display: flex;
      align-items: center;
      margin-left: 104px;

      .back {
        width: 100px;
        height: 100px;
        margin-right: 80px;
        @media (max-width: 1920px) {
          margin-right: calc((100vw - 1760px) / 2);
        }
        @media (max-width: 1810px) {
          margin-right: 32px;
          width: 64px;
          height: 64px;
        }

        .back_icon {
          width: 48px;
          height: 48px;
          color: $pink;
        }
      }

      .title {
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    .top_right {
      display: flex;
      margin-right: 104px;
      margin-bottom: 8px;

      .title_small {
        font-weight: 600;
        font-size: 24px;
        text-align: right;
      }
    }
  }
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1810px) {
      margin-top: 20px;
    }

    .block {
      display: flex;
      align-items: center;
      margin-left: 104px;

      .back {
        width: 100px;
        height: 100px;
        margin-right: 80px;
        @media (max-width: 1920px) {
          margin-right: calc((100vw - 1760px) / 2);
        }
        @media (max-width: 1810px) {
          margin-right: 32px;
          width: 64px;
          height: 64px;
        }

        .back_icon {
          width: 48px;
          height: 48px;
          color: $pink;
        }
      }

      .title {
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    .counts {
      font-weight: 400;
      font-size: 20px;
      position: absolute;
      left: 47%;

      span {
        font-weight: 600;
        font-size: 20px;
      }
    }

    .total_price {
      font-weight: 600;
      font-size: 24px;
      margin-right: 104px;

      span {
        font-weight: 600;
        font-size: 24px;
        margin-left: 32px;
      }
    }
  }

  .content {
    width: fit-content;
    height: 600px;
    margin-top: 24px;
    overflow-y: scroll;
    padding-right: 24px;
    margin-left: 24px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px !important;
    }
    &::-webkit-scrollbar-track {
      background: none;
      border-radius: 10px;
      background-clip: content-box;
      margin-left: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $light;
      border-radius: 10px;
    }
  }

  .submit {
    margin-left: 58px;
    margin-top: 16px;
    padding: 16px 32px;
    background-color: $grey;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;

    &:hover {
      background-color: $black;
    }
  }
}
