@import '../../libs/normalize';
@import '../../variables';

.wrapper {
  width: 100%;
  padding: 32px 104px 96px 104px;
  min-height: 906px;
  max-height: fit-content;

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .top_left {
        display: flex;
        align-items: center;

        .back {
          width: 100px;
          height: 100px;
          margin-right: 80px;

          .back_icon {
            width: 48px;
            height: 48px;
            color: $pink;
          }
        }

        .title {
          font-weight: 600;
          font-size: 24px;
        }

        .title_confirm {
          @extend .title;
          margin-left: 180px;
          margin-top: 42px;
        }
      }
      .top_right {
        display: flex;

        .title_small {
          font-weight: 400;
          font-size: 20px;
          text-align: right;
        }
      }
    }

    .content {
      width: 100%;
      height: 570px;
      margin-top: 40px;
      display: flex;
      justify-content: center;

      .contacts_block {
        margin-top: 60px;
        margin-bottom: 106px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contacts_input {
          width: 336px;
          height: 48px;
          padding: 0 16px 0 24px;
          border: 2px solid $light;
          color: $black;
          font-weight: 400;
          font-size: 16px;
          border-radius: 5px;
          margin-bottom: 60px;

          ::placeholder {
            color: $light;
          }

          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }

          &:focus {
            border: 2px solid $black;
          }
        }
      }
    }

    .address_block {
      width: 1334px;
      display: flex;
      @media (max-width: 1580px) {
        justify-content: center;
      }

      .map {
        width: 754px;
        height: 464px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 64px;

        @media (max-width: 1580px) {
          width: 550px;
        }

        .ymap {
          width: 754px !important;
          height: 464px !important;
          border-radius: 20px !important;
          @media (max-width: 1580px) {
            width: 550px;
          }
        }
      }

      .fields {
        width: fit-content;
        display: flex;
        flex-direction: column;

        h2 {
          font-weight: 400;
          font-size: 20px;
        }

        .address_input {
          @extend .input;
          position: relative;
          width: 516px !important;
          z-index: 800;
          margin-top: 100px;

          &_active {
            @extend .address_input;
            border-radius: 5px 5px 0 0 !important;
            border: 2px solid $black !important;
          }
        }

        .dropdown {
          width: 516px !important;
          border-radius: 0 0 5px 5px;
          border: 2px solid $black;
          border-top: none;
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: white;
          margin-top: -4px;
          z-index: 50;

          .item {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 0 16px 0 24px;
            height: 62px;
            cursor: pointer;

            &:nth-of-type(1) {
              padding-top: 20px;
            }

            &:nth-last-of-type(1) {
              padding-bottom: 16px;
            }

            .title {
              font-weight: 400;
              font-size: 16px;
            }

            &:hover {
              .title {
                font-weight: 600;
              }
            }
          }
        }

        .index_input {
          @extend .input;
          margin-top: 32px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
        }

        .accept {
          @extend .next_btn;
          width: fit-content !important;
          padding: 0 24px;
          font-size: 16px !important;
          border-radius: 50px !important;
          align-self: center !important;
          margin-top: 120px;
        }
      }
    }

    .delivery_block {
      width: 100%;
      display: flex;
      margin-right: 340px;

      .delivery_items {
        height: 560px;
        padding: 20px;
        width: fit-content;
        margin-left: 160px;
        margin-right: 96px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 0px;
          height: 00px !important;
        }
        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: none;
        }

        @media (max-width: 1460px) {
          margin-right: 20px;
        }

        .delivery_item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 692px;
          height: 88px !important;
          box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
          border-radius: 10px;
          background-color: white;
          padding: 0 28px 0 24px;
          margin-bottom: 40px;

          @media (max-width: 1360px) {
            width: fit-content;
          }

          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }

          .delivery_img {
            width: 36px;
            height: 36px;
            object-fit: cover;
          }

          .delivery_type {
            font-weight: 400;
            font-size: 16px;
            color: $grey;
            width: 228px;
            margin-left: 24px;

            @media (max-width: 1360px) {
              width: 150px;
            }
          }

          .delivery_time {
            font-weight: 400;
            font-size: 16px;
            color: $grey;
            border-bottom: 1px solid $grey;
            padding-bottom: 10px;
            width: 70px;
            text-align: center;
            white-space: nowrap;
          }

          .delivery_price {
            font-weight: 400;
            font-size: 16px;
            color: $grey;
            text-align: center;
            width: 148px;
          }

          .delivery_status {
            border: 2px solid $light;
            border-radius: 50px;
            background-color: white;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            .delivery_status_icon {
              width: 16px;
              height: 16px;
              color: white;
            }
          }
        }

        .delivery_item_acitve {
          @extend .delivery_item;

          .delivery_img {
            @extend .delivery_img;
          }

          .delivery_type {
            @extend .delivery_type;
            color: $black;
          }

          .delivery_time {
            @extend .delivery_time;
            color: $black;
          }

          .delivery_price {
            @extend .delivery_price;
            color: $black;
          }

          .delivery_status {
            @extend .delivery_status;
            background-color: $green;
            border: 1px solid $green;

            .delivery_status_icon {
              width: 20px;
              height: 20px;
              color: white;
            }
          }
        }
      }

      .delivery_address {
        margin-top: 20px;
        width: 264px !important;
        height: 170px;
        background: #ffffff;
        box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
        border-radius: 10px;
        padding: 18px 32px 18px 20px;

        h1 {
          font-weight: 400;
          font-size: 16px;
          color: $grey;
          margin-bottom: 24px;
        }

        h3 {
          font-weight: 400;
          font-size: 14px;
          color: $grey;
          letter-spacing: 0.02em;
          line-height: 18px;
        }
      }
    }

    .payment_block {
      @extend .delivery_block;

      .payment_items {
        @extend .delivery_items;

        .payment_item {
          @extend .delivery_item;
          width: 485px;

          .payment_icon {
            width: 36px;
            height: 36px;
            color: $grey;
          }

          .payment_type {
            @extend .delivery_type;
            width: 320px;
            margin-left: 0;
          }

          .payment_status {
            @extend .delivery_status;

            .payment_status_icon {
              @extend .delivery_status_icon;
              color: white;
            }
          }
        }

        .payment_item_acitve {
          @extend .payment_item;

          .payment_icon {
            @extend .payment_icon;
          }

          .payment_type {
            @extend .payment_type;
            color: $black;
          }

          .payment_status {
            @extend .payment_status;
            background-color: $green;
            border: 1px solid $green;

            .payment_status_icon {
              width: 20px;
              height: 20px;
              color: white;
            }
          }
        }
      }

      .payment_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        height: 440px;

        .promo {
          width: 328px;
          height: fit-content;
          box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
          border-radius: 30px;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 25px 35px;
          justify-content: space-between;

          h1 {
            font-weight: 400;
            font-size: 16px;
          }

          .promo_input {
            padding: 0 4px 8px 4px;
            border-bottom: 1px solid $light;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            margin-top: 32px;
            text-align: center;
          }

          .promo_input_true {
            @extend .promo_input;
            border-bottom: 1px solid $green;
          }

          .promo_input_false {
            @extend .promo_input;
            border-bottom: 1px solid $pink;
          }

          .promo_info_true,
          .promo_info_false {
            display: inline-block;
            margin-top: 4px;
            margin-bottom: 35px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
          }
          .promo_info_true {
            color: $green;
          }

          .promo_info_false {
            color: $pink;
          }

          .promo_btn {
            width: 200px;
            padding: 12px;
            color: white;
            background: $grey;
            border-radius: 30px;
            font-size: 16px;

            &:hover {
              background-color: $black;
            }
          }
        }

        .payment_price {
          font-weight: 600;
          font-size: 24px;

          span {
            font-weight: 600;
            font-size: 24px;
            margin-left: 32px;
          }
        }
      }
    }

    .confirm_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;

      .confirm_check {
        width: 152px;
        height: 152px;
        border-radius: 100px;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;

        .confirm_icon {
          width: 120px;
          height: 120px;
          color: white;
        }
      }

      .confirm_title {
        text-align: center;
        margin-top: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: 0.02em;

        span {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.02em;
        }
      }
    }

    .next_btn {
      width: 292px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: 2px solid $grey;
      border-radius: 10px;
      background-color: $grey;
      align-self: flex-end;
      font-size: 20px;
      justify-self: end;

      &:hover {
        background-color: $black;
        border: 2px solid $black;
      }
    }

    .confirm_btn {
      @extend .next_btn;
      align-self: center;
      justify-self: center;
      margin-top: -80px;
    }
  }
}

.input {
  width: 336px;
  height: 48px;
  padding: 0 16px 0 24px;
  border: 2px solid $light;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 60px;

  ::placeholder {
    color: $light;
  }

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  &:focus,
  &:hover {
    transition: 0.2s;
    border: 2px solid $black;
  }
}
